
.game-option-full-container {
    border: 1px solid #E0E2DB;
    border-radius: 1rem;
    margin-bottom: 0.7rem;
}

.game-option-containers {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border: 1px solid white;
    height: 20%;
    width: 100%;
    border-radius: 15px;
}

.game-option-containers:hover,
.game-option-containers:active {
    background-color: #372248;
}

.game-option-text {
    font-size: 3rem;
}

.game-betChoice-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem 2rem;
    border: none;
    border-radius: 3rem;
    font-family: inherit;
    font-size: 2rem;
    opacity: 100%;
    color: #372248;
    background-color: #E0E2DB;
    text-decoration: none;
}

.game-betChoice-btns:hover,
.game-betChoice-btns:active {
    color: #E0E2DB;
    background-color: #372248;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    bottom: 0;
    margin: 0 auto;
    height: 200px;
    width: 350px;
    border: 2px solid #E0E2DB;
    border-radius: 20px;
}

.isSelected {
    border-width: 0.2rem;
    border-style: dotted;
}

.account-balance {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid #E0E2DB;
    top: 0;
    right: 0;
    margin: 0.5rem;
    font-size: 1.5rem;
}