.game-option-form {
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 300px;
}

.game-option-full-container {
    border: 1px solid #E0E2DB;
    border-radius: 15px;
    margin-bottom: 10px;
}

.game-option-containers {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border: 1px solid white;
    height: 150px;
    width: 300px;
    border-radius: 15px;
}

.game-option-containers:hover,
.game-option-containers:active {
    background-color: #372248;
}

.game-option-text {
    font-size: 50px;
}

.game-betChoice-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-family: inherit;
    font-size: 30px;
    opacity: 100%;
    color: #372248;
    background-color: #E0E2DB;
    text-decoration: none;
}

.game-betChoice-btns:hover,
.game-betChoice-btns:active {
    color: #E0E2DB;
    background-color: #372248;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
    position: absolute;
    left: 0;
    right: 0;
    top: 300px;
    bottom: 0;
    margin: 0 auto;
    height: 200px;
    width: 350px;
    border: 2px solid #E0E2DB;
    border-radius: 20px;
}

.isSelected {
    border-width: 3px;
    border-style: dotted;
}

.isDisabled {
    display: none;
}