
.iceberg-regular {
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.green {
    color: #2B9720;
}

.blue {
    color: #5B85AA;
}

.linen {
    color: #E0E2DB;
}

.purple {
    color: #372248;
}

.pink {
    color: #EF476F;
}

.green-background {
    background-color: #2B9720;
}

.blue-background {
    background-color: #5B85AA;
}

.linen-background {
    background-color: #E0E2DB;
}

.purple-background {
    background-color: #372248;
}

.pink-background {
    background-color: #EF476F;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Iceberg',sans-serif;
    text-align: center;
    border-radius: 25px;
    border: 1px solid black;
    width: 500px;
    height: 1100px;
    margin: 0 auto;
    background-color: #372248;
    color: #E0E2DB;
}

.main-logo {
    width: 150px;
    border-radius: 25px;
    margin-top: 20px;
}

.create-acc {
    font-size: 30px;
    color: #EF476F;
    margin-bottom: 30px;
}

.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-label {
    font-size: 20px;
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    color: #E0E2DB;
    background-color: #EF476F;
    border: none;
    border-radius: 5px;
}

.submit-btn {
    margin-top: 30px;
}

.start-btn {
    font-size: 30px;
    padding: 15px 30px;
    text-decoration: none;
}

.start-btn-container {
    display: flex;
    flex-direction: column;
}

.form-btn:hover,
.form-btn:active {
    color: #E0E2DB;
    background-color: #5B85AA;
}

.main-form-input {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 2px 5px;
    color: #E0E2DB;
    background-color: #5B85AA;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}
