html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Iceberg", Arial, Helvetica, sans-serif;
    color: #E0E2DB;
    background: #372248;
}

* {
    box-sizing: border-box;
}

/* Utility */
.isDisabled { display: none; }
.block { display: block; }
.green { color: #2B9720; }
.blue { color: #5B85AA; }
.linen { color: #E0E2DB; }
.purple { color: #372248; }
.pink { color: #EF476F; }

.green-background { background-color: #2B9720; }
.blue-background { background-color: #5B85AA; }
.linen-background { background-color: #E0E2DB; }
.purple-background { background-color: #372248; }
.pink-background { background-color: #EF476F; }

/* Layout */
.container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-areas:
        ". logo ."
        ". main ."
        ". foot .";
    grid-template-columns: auto  1fr  auto;
   
}

.main-label,
.create-acc {
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-wrap: balance;
}


/* Grid areas */
.main-header { grid-area: logo; }
.main        
{ 
    grid-area: main; 
}
.footer      
{ 
    grid-area: foot;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* Logo */
.main-logo {
    width: 20%;
    max-width: 200px;
    margin: 1.25rem auto;
    border-radius: 1.56rem;
}

/* Typography */
.create-acc {
    font-size: 2.2rem;
    color: #EF476F;
    margin-bottom: 1.5rem;
}

.main-label {
    font-size: 1.4rem;
}

.currency {
    font-family: ar;
}

/* Form layout */
.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

/* Buttons */
.form-btn {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    color: #E0E2DB;
    background-color: #EF476F;
    border: none;
    border-radius: 0.4rem;
}

.submit-btn {
    margin-top: 3rem;
}

.form-btn:hover,
.form-btn:focus {
    background-color: #5B85AA;
    border: 3px solid #372248;
}

/* Inputs */
.main-form-input {
    width: 100%;
    max-width: 80%;
    padding: 1rem;
    font-size: 1rem;
    background-color: #5B85AA;
    border: none;
    border-radius: 1rem;
    color: #E0E2DB;
}

/* Funds input */
.fund-input {
    width: 100%;
    max-width: 200px;
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
}

/* Footer */
footer {
    font-size: 0.8rem;
    margin-bottom: 0;
}

.left-desktop-img,
.right-desktop-img {
    display: none;
    background-size:contain;
    height: 100%;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 1 / -1;
}

.left-desktop-img {
    grid-area: left;
    grid-row: 1 / -1; 
    background-image: url("./Images/LeftBorderDesktop.png");
}

.right-desktop-img {
    display: flex;
    justify-self: end;
    grid-area: right;
    grid-row: 1 / -1;
    background-image: url("./Images/RightBorderDesktop.png");
}

.fund-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-funds-label {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.fund-input {
    font-family: inherit;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.start-btn-container {
    font-size: 2rem;
}

@media (min-width: 768px) {
    html {
    }

    .left-desktop-img,
    .right-desktop-img {
        display: block;
        height: 100%;
        width: 60%;
    }

    .container {
        border: 1px solid red;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "left logo right"
            ".... main ...."
            ".... foot ....";
    }

    .main-form-input {
        max-width: 60%;
    }

    .form-btn {
        max-width: 60%;
    }
}
